.nav{
    height: 60px;
    background-color: aliceblue;
    color: rgb(7, 7, 160);
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}

h2{
    margin-left: 80px;
}

.nav2{
    margin-left: 300px;
}

.btn:hover{
    color:black;
}

.btn1 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: rgb(7, 7, 160);
    border: none;
    border-radius: 15px;
    margin-top:300px;
    margin-left: 400px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
  }
  
.btn1:hover {background-color:rgb(88, 74, 101)}
  
.loginform{
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top:100px;
    opacity: 0.9;
    border: 1px solid;
    border-radius: 15px;
    padding: 3%;
    box-shadow:5px 10px 18px #888888;;
    background-color:whitesmoke;
    padding: 3%;
}


.heading{
    background-color: white;
    color:rgb(26, 26, 94);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.input{
    height:30px;
    width: 210px;
    border-radius: 10px;
    color: rgb(7, 7, 160) ;
}

.btn2{
    padding: 5px 5px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgb(12, 12, 87);
    border: none;
    border-radius: 15px;
    width: 130px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
    margin-left: 40px;
}

.btn2:hover{
    color:black;
    background-color: blue;
}

.tbl1{
    background-color: #fff;
    margin: auto;
    color: rgb(12, 12, 87);
    height: 300px;
    margin-top: 30px;
    font-size: large;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-seri;
} 

.form-div{
    border: 2px solid black;
    border-radius: 5px;
    background-color:  #fff;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    width: 400px;
}

.form-div2{
    border: 2px solid black;
    border-radius: 5px;
    background-color:  #fff;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    width: 300px;
}
.txtbox2{
    height: 30px;
}

.btn5{
    color: #fff;
    background-color: rgb(12, 12, 87) ;
    border-radius: 7px;
    height:30px;
    width:90px;
    margin-left: 46px;
    font-size:medium;
    font-weight: 500;
}


.btn5:hover{
    color: black;
    background-color: beige;
}

.btn4{
    color: #fff;
    background-color: rgb(12, 12, 87) ;
    border-radius: 7px;
    height:30px;
    width:90px;
    font-size:medium;
}

.btn4:hover{
    color: black;
    background-color: beige;
}

.heading2{
    color: #fff;
}

u{
    color: wheat;
}


.App {
    text-align: center;
   }
   
   .App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
   }
   
   .navbar {
    background-color: #f8f9fa;
    padding: 10px;
    cursor: pointer;
    color: #007bff;
    font-weight: 700;
   }
   
   .navbar ul{
    margin-left: 500px;
   }
   .navbar ul li {
    display: inline;
    margin-left: 40px;
   }
   
   .navbar ul li a {
    text-decoration: none;
    color: #007bff;
   }
   
   .heading3{
    color:white;
    margin-left: 660px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   .table-div{
    padding:10px;
    margin-top:80px;
    width:1400px;
    margin-left: 65px;
 }

 .intro{
    color: white;
    font-size: large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 550px;
    margin-top:100px;
    width:400px
 }
